ENVIRONMENT=development
APP_ENV=local

DATABASE_URL=postgresql+psycopg://rescuebite:rescuebite@db:5432/rescuebite
REDIS_URL=redis://redis:6379/0

JWT_SECRET_KEY=7WwaakglYviGJS92_gI4-3VYmfAfINSzQZzzPinPki26n4TsKdtK1nzxm3if6A7B5nb1xIwrVxzfPGhYRIliLg
JWT_REFRESH_SECRET_KEY=veSlc4fVD4_SL_z8Nz8VxsjllaHIztxzpD3H9wT1tYIAyy0uj8oPiUXNxUrbmmORE9Uix1LkkKRTJIC1hn7puA

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8000

FRONTEND_URL=http://localhost:5173


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587

SMTP_USER=ac299a001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-f950dc173299f23287bbd94771ca288c3266ffb56ce251de9ce5b246b0b9d7ee-2zFHJetJDub2TRj5

EMAIL_FROM=dauletbek.boribai@gmail.com
